<form (ngSubmit)="submit()" [formGroup]="userUpdatePasswordForm">
  <div>
    <label>New password</label>
    <input type="password" formControlName="password">
    <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">
      New password is required
    </div>
  </div>
  <div>
    <label>Password</label>
    <input type="password" formControlName="passwordConfirmation">
    <div *ngIf="passwordConfirmationCtl.dirty && passwordConfirmationCtl.hasError('required')">
      Password confirmation is required
    </div>
  </div>
  <button type="submit" [disabled]="userUpdatePasswordForm.invalid">Update</button>
</form>
